<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <head>
    <title>Yun's Blog</title>
    </head>
    <body>
    <div>
        <h1><a href="">Yun's Blog</a></h1>
    </div>
    <div>
        <p>published: 2020.06.13 00:00</p>
        <h2><a href="">10 ways to lose weight without dieting</a></h2>
        <p>1. Eat Breakfast Every Day.
           2. Close the Kitchen at Night
           3. Choose Liquid calories Wisely
           4. Eat More Produce
           5. Go for the Grain
           6. Control Your Environments
           7. Trim Portions
           8. Add More Steps
           9. Have Protein at Every Meal and Snack
           10. Switch to Lighter Alternatives </p>
    </div>
    <div>
        <p>published: 2020.06.14 00:00</p>
        <h2><a href="">10 ways you can express yourself</a></h2>
        <p>1. Writing
           2. Singing
           3. Painting or Drawing
           4. Sports
           5. A journal
           6. Dancing
           7. Join a club
           8. Decorate your room
           9. Your style
           10. Play a musical instrument</p>
    </div>
    <div>
        <p>published: 2020.06.15 00:00</p>
        <h2><a href="">10 ways to have a better conversation</a></h2>
        <p>1. Don't multitask - be present
           2. DOn't pontificate
           3. Ask open ended questions
           4. Go with the flow
           5. If you don't know, say that you don't know
           6. Don't equate your experience with theirs-all experiences all individual
           7. Try not to repeat yourself
           8. Stay out of the weeds
           9. Listen
           10. Be brief </p>
    </div>
</body>
</html>
